$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$base: 4px;

// $breakpoint-xs-min: 0;
$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;

$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;

$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;

$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;

$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

$fs-xxs: rem(10px);
$fs-xs: rem(12px);
$fs-s: rem(15px);
$fs-m: rem(18px);
$fs-l: rem(24px);
$fs-xl: rem(36px);
$fs-xxl: rem(48px);

$color-white: #fff;
$color-divider: #d1d1e4;
$transition: 0.2s;

$color-primary: #495274;
$color-secondary: #6188ff;

$color-yellow-500: #ffc735;

$color-cian-500: #35aaff;

$color-red-500: #ff4545;
$color-red-600: #b53333;

$color-gray-50: #d1d1e4;
$color-gray-100: #c7d3ff;
$color-gray-200: #aeb8d0;
$color-gray-300: #aeb4d2;
$color-gray-400: #8e96b7;
$color-gray-500: #8d96bd;
$color-gray-600: #7382a3;
$color-gray-700: #7a85ad;
$color-gray-800: #676f95;
$color-gray-900: #495274;

//secondary
$color-blue-50: #a0b4ff;
$color-blue-100: #6888ff;
$color-blue-200: #6188ff;
$color-blue-300: #5e80ff;
$color-blue-400: #5e81fe;
$color-blue-500: #456de2;
$color-blue-600: #5283ff;
$color-blue-700: #3159ce;
$color-blue-800: #4074f8;
$color-blue-900: #3d4f9f;
