@mixin roboto {
  font-family: "Roboto", sans-serif;
}

@mixin quicksand {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

@mixin vertical-indent($size) {
  padding-top: $size;
  padding-bottom: $size;
}